.login-form__form-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 400px;
    padding: 5px 5px 15px;
}

.login-form__form-wrapper > input {
    margin: 5px;
}

.login-form__form-wrapper > button {
    width: 50%;
    margin: 5px auto;
}

.login-form__form-wrapper > h1 {
    text-align: center;
}
