.store-entry__main {
    display: inline-block;
    padding: 5px;
    background: #607d8b;
    border-radius: 50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.store-entry__button {
    box-sizing: content-box;
    margin: 0;
    width: 40px;
    height: 40px;
    font-style: normal;
    font-size: 1.0em;
    border-radius: 60px;
}

.store-entry__text {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.store-entry__cost {
    margin-right: 5px;
    color: #ffc107;
}