.store-entry__shit-wrapper {
    display: inline-block;
    vertical-align: top;
}

.store-entry__main {
    display: flex;
    height: 42px;
    background: #553f28;
    border-radius: 42px;
    transition: transform 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding-right: 10px;
    padding-left: 10px;
}

.store-entry__main:hover {
    transform: scale(1.1);
    padding: 0;
}

.store-entry__main:hover button {
    /*opacity: 1.0;*/
    display: inline-block;
}

.store-entry__main button:focus {
    /*opacity: 1.0;*/

    display: inline-block;
}

.store-entry__button {
    /*opacity: 0.0;*/
    display: none;
    box-sizing: content-box;
    margin: 0;
    width: 42px;
    height: 42px;
    font-style: normal;
    border-radius: 42px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.store-entry__plus {

}

.store-entry__minus {

}

.store-entry__text-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 5px 0 0;
}

.store-entry__top-text-wrapper {
    padding: 0;
    margin: 0;
}

.store-entry__text {
    display: inline-block;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.store-entry__cost {
    display: inline-block;
    color: #ffc107;
}

.store-entry__quantity {
    font-weight: bold;
    color: #5cce54;
}