.city-card__main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.city-card__wrapper {
    flex-basis: 100%;
    display: flex;
    padding: 0;
}

.city-card__map {
    /*margin: 10px;*/
    /*background: url("https://i.pinimg.com/originals/78/e8/26/78e826ca1b9351214dfdd5e47f7e2024.gif") center center;*/
    background: url("https://images.squarespace-cdn.com/content/v1/573f1d54c2ea51c0f482f48c/1515509372224-MD1DRQKKTJ45S8SK2YHL/ke17ZwdGBToddI8pDm48kJEuAsZX4PcamHhInCJbwHYUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKceLDr67l0v11HKFXBvaZXMY8KvkKet2qfYDAltNbHQjw7VGPOFRY5SQPRgBHgeDYh/i-BD-web-StoreLocator-LoadingGrayMap-StripAction-Animated-1000x662-55frm-Med-v5.gif?format=1000w") center center;
    background-size: cover;
    flex-basis: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-shadow: inset 0 0 100px black;
}

.city-card__photo {
    background: url("https://i.pinimg.com/originals/cb/b2/40/cbb240c998cb9275e0654789ca870367.jpg");
    background-size: cover;
    height: 80px;
    transition: all .2s;
    padding: 0;
    margin: 0;
}

.city-card__photo > h1 {
    text-align: center;
    height: 100%;
    margin: 0;
    vertical-align: center;
    line-height: 70px;
    text-shadow: 0 0 5px #323232;
}

.city-card__photo:hover {
    /*transform: scale(1.02);*/
}

.city-card__info {
    padding: 0;
    display: flex;
    height: fit-content;
    flex-direction: column;
}

.city-card__info::-webkit-scrollbar {
    display: none;
}

.city-card__info > div {
    /*margin: 5px;*/
}